<section class="footer">
	<section class="left">
		
	
		<div class="contact-no">+91-7018700830</div>

		<div class="divider"></div>
		<div class="address">Village Neri, Ashwani Khadd, Tehsil Salogra, Solan, Himachal Pradesh- 173214</div>
		<div class="divider"></div>
		
		
		<div class="social-media">
			<a href="https://www.facebook.com/xanaduexpdi/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/cafexanadu/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		</div>
	</section>
	<section class="right">
		<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18991.985879601307!2d77.12792397158329!3d30.93360376264916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f81abfab30953%3A0x4f263814b26a5cb9!2sXanadu+Cafe!5e0!3m2!1sen!2sin!4v1517848219844" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
	</section>
	
</section>