<section class="slide1">
	<div class="dabba-outer animated bounceInRight">
		<div class="dabba ">
			Come, let's share our love for the mountains!!
			<span class="sing">- Team Xanadu</span>
		</div>
	</div>
</section>
<section class="slide2">
	<a routerLink="/events" (click)="scrollTop()"><div class="menu-element ml1 event">EVENTS</div></a>
	<div class="theContainer">
		<div class="menu-element ml2 expidition" style="margin-right: 15px;">EXPEDITIONS</div>
		<div class="menu-element ml2 activities">ACTIVITIES</div>
	</div>
	<a routerLink="/cafe" (click)="scrollTop()"><div class="menu-element ml1 cafe">XANADU CAFÉ</div></a>
	<div class="dividerContainer">
		<div class="theDivider"></div>
		<div class="tentIcon"><img src="https://image.flaticon.com/icons/svg/77/77447.svg"></div>
		<div class="theDivider"></div>
	</div>
</section>
<section class="slide2">
	<div class="why-xanadu">
		<!-- <img src="https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/1.jpg"> -->
		<div class="why-xanadu-box why-img why"><span class="why-text">WHY</span></div>
		<div class="why-xanadu-box xanadu"><span class="xanadu-text">XANADU ?</span></div>
	</div>
</section>
