<section class="why-container">
<h1># WHY XANADU</h1>

	# There are three keys to live life to the fullest:


	<ol>
		<li>CAMPING, MUSIC, and NATURE. We serve a unique trend never experienced before</li>

		<li>We, at Xanadu are working to introduce an eccentric edge ti the tourism of the beautiful state Himachal Pradesh</li>

		<li>Xanadu Expdi aim to provide best camping experiences by providing quality facilities in the places less known to travellers.</li>
	</ol>

	<ul>
		<li>Xanadu us a place where nature is still present in its raw form, open to exploration</li>
		<li>Its very convenient for the guests to reach the base camp , just 90 kms from Chandigarh</li>
		<li>Xanadu has history of lots of successfully delivered musical events and gigs with artists like SHARMA, ARTHA - THE BAND , THE MAGIC BOX, and Many More</li>
		<li>Xanadu encourages people to appreciate the nature and its beauty and helps you to forget the hustle of the city life and the trapped life of the cubicles </li>
		<li>We have hostel numerous camping events in major treks like Magic valley Indrahar Pass, Kareri Lake</li>
	</ul>
 <!-- </p> -->


</section>
 <style type="text/css">
 	h1{
 		text-align: center;
 	}
 	*{
 		font-family: 'Exo', sans-serif;
 	}
 	.why-container{
 		max-height: 90vh;
 		max-width: 100%;
 		overflow: auto;
 	}
 </style>