<section class="why-container">
	<div class="color left"></div>
	<div class="color right"></div>
	<h1># WHY XANADU ?</h1>


	REASON-1: There are three keys to live life to the fullest-<br>
	CAMPING, MUSIC, and NATURE! We serve a unique blend nowhere experienced before.<br><br>

	REASON-2: We, at XANADU, are working to introduce an eccentric edge to the tourism of the beautiful state of Himachal Pradesh.<br>
	XANADU ExPdi aims to provide best camping experiences by providing quality facilities in the places less known to travellers.<br><br>

	REASON-3: Xanadu is a place where nature is still present in its raw form, open to exploration.<br><br>

	REASON-4: Xanadu has a history of lots of successfully delivered musical events and gigs with artists like SHUBHANK SHARMA, ARTHA- THE BAND, THE MAGIC BOX, and many more.<br><br>

	REASON-5: We have hosted numerous camping events in major treks like Magic Valley, Indrahar Pass, Kareri Lake, etc.<br><br>

	All in all, if you love nature, and wish to have a nice, peaceful time with yourselves, or anyone you want to spend quality time with, we welcome you to be our guest!<br>
	Xanadu ExPdi is the perfect weekend getaway you are looking for!<br><br>



</section>
 <style type="text/css">
 	h1{
 		text-align: center;
 	}
 	*{
 		font-family: 'Exo', sans-serif;
 	}
 	body{
 		margin: 0;
 		padding: 0;
 	}
 	.why-container{
 		max-height: 90vh;
 		max-width: 100%;
 		overflow: auto;
 		/*border: 10px solid black;*/
 		margin: 0;
 		background: linear-gradient(90deg,#1B5E20,#004D40); 
 		color: white;
 		padding: 10px;
 	}
 	.color{
 		height: 100%;
 		width: 50%;
 		position: absolute;
 		/*z-index: -1;*/
 		background-color: teal;
 		display: none;
 	}
 </style>