<section class="event-content">
	<section class="event-container">
		<h1 class="heading">{{theEvent}}</h1>
		<div class="img-container">
			<img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/27067237_2125576591062044_8584047680600771879_n.jpg?oh=4e97a90dfb92e5722ff5eb730e88f726&oe=5AE54A63" class="event-img">
		</div>
		<br>
		<br>
		<div class="descriptions">
			<span class="dh">Event Date:</span>
			<span class="value">14th Feb, 2018</span>
			<br>
			<span class="dh">Event Venue:</span>
			<span class="value">Xanadu Base Camp</span>
			<br>
			<span class="dh">Facebook Event:</span>
			<span class="value"><a href="https://www.facebook.com/events/1969330759986514/">{{theEvent}}</a></span>
			<br>
			<span class="dh">Key Attractions:</span>
			<div class="key-attraction">
				<br>
				Xanadu Expdi presents 'Campers Valentine' This Valentine gift your special one a holiday to remember. Let's celebrate Valentine, Let's celebrate Love.
				<br>

				> Camp by Riverside 	<br>
				> Enjoy live music 	<br>
				> Candlelight dinner 	<br>
				> Couple Dance 	<br>
				> Entry for couples only 	<br>
				> Romantic Vibes 	<br>
				<br>
				<br>

				For more details contact - 7018700830 or email us at xanaduexpdi@outlook.com
			</div>
		</div>


	</section>
</section>