<section class="event-content">
	<section class="event-container animated fadeInUp">
		<h1 class="heading">{{theEvent}}</h1>
		<div class="img-container">
			<img src="https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/A%20New%20Design%20(6).jpg" class="event-img">
		</div>
		<br>
		<br>
		<div class="descriptions">
			<span class="dh">Event Date:</span>
			<span class="value">13 April 2018 - 15 April 2018</span>
			<br>
			<span class="dh">Event Venue:</span>
			<span class="value">Xanadu cafe, Solan</span>
			<br>
			<span class="dh">Facebook Event:</span>
			<span class="value"><a href="https://www.facebook.com/events/274603246409712/">{{theEvent}}</a></span>
			<br>
			<span class="dh">Ticketing Details: </span>
			<span class="value"><button mat-raised-button (click)="openDialog()">Register Now!</button></span>
			<br>
			<span class="dh">Key Attractions:</span>
			<div class="key-attraction">
				It’s time to be joyous as Xanadu brings back the legacy of fun, culture and music. Xanadu Expdi proudly presents " Xanadu Carnival – Season 2". A mega episode of three days with a new happenstance every night. A fiesta of games, musical gigs, camping, nature and culture. 
				<br><br>

			•	Open Cinema Night<br><br>

			•	Live Musical Gig by various amazing artists<br><br>

			•	Himachali Dham<br><br>

			•	Culture Show and Naati Dance<br><br>

			•	Carnival full of games and activities like Tattoo making, Dreads making, Magic show, Craft shop, Sketch artist, Nature Photography, Trekking and Camping workshop, Flower shop, Comedy act, Snacks and beer counters.<br><br>

			•	Camping and bonfire sessions with Yoga classes in morning.<br><br>

			A three-day carnival with the following action:<br><br>

			13th April – Open Cinema Night.<br><br>

			14th April – Rock Musical Concert.<br><br>

			15th April – Himachal day celebrations and Culture Show.<br><br>

			Venue – Xanadu Café, Solan <br>
			Enquiries Contact – 7018700830/7018159417 <br>
			Bookings open.<br>

			More details coming soon, stay tuned!<br>
			</div>
		</div>


	</section>
</section>