<section class="container">
	<h2>Xanadu Carnival Ticketing </h2>

▪ 13th April - Opening Ceremony + Cinema Night <br>
• Revellers - Rs 200/- ( entry ticket )<br>
• Campers - Rs 1700- ( entry ticket + Dinner (veg only) + Stay for 1 night in quenchua tents + Breakfast )<br>
• Hedonists - Rs 2200/- ( entry ticket + Dinner ( veg/ non veg ) + Delux stay for 1 night in quenchua tents + Breakfast + Welcome drinks + Morning tea + Free Coupons worth Rs 200/- )<br><br>

 
▪ 14 th April - Live Musical Night<br>
• Revellers - Rs. 500/- ( entry to carnival and live music event+ Free coupons worth Rs. 200/- )<br>
• Campers - Rs. 2000/- ( entry to Carnival and live music event + Dinner (veg only) + Stay for 1 night in quenchua tents + Breakfast + Free coupons worth Rs. 200/-  )<br>
• Hedonists - Rs. 2500/- ( entry to Carnival and live music event+ Dinner ( veg/ non veg ) + Delux stay for 1 night in quenchua tents + Breakfast + Welcome drinks + Morning tea + Free Coupons worth Rs 200/-)<br><br>

▪ 15 th April - " Himachal Day Celebrations "<br>
Free entry to all, enjoy the cultural performance by local artists and local dham.<br>

☆ Closing ceremony ☆<br>
( Camping options will be available for the people who wish to stay at cafe after closing ceremony and should be booked in advance )<br><br>

》For the people who wish to book it in advance and for the whole package of 2 days :-<br><br>

~Total Package cost for campers for 2 days - 3700/- Xanadu Special price - 3500/-<br><br>

~Total Package cost for hedonists for 2 days - 4700/- Xanadu Special price - 4500/-<br><br>

 Note : Xanadu promotes camping hence we bring the concept of BYOT ( Bring Your Own Tents ) and camp with us, camp pitching charges - Rs 500/tent/day.<br><br>
All other eminties can be purchased at Venue, including your event passes, food, and sleeping accessories ( if available ). <br>
 'It's important for you to register for BYOT in advance .' <br><br>


 <form class="control">
 	<mat-form-field>
    <input matInput placeholder="Name" id="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email Id" id="email">
  </mat-form-field>
	<mat-form-field>
    <input matInput placeholder="Package Opted" id="package">
  </mat-form-field>
	<mat-form-field>
    <input matInput placeholder="No. Of Person With You" id="nop">
  </mat-form-field>
	
  <button mat-raised-button id="Helo">Submit</button>

 </form>
 Within 4 working hours we will message you a unique event code that you are required to show at event. '
</section>

<style type="text/css">
	.container{
		width: 100%;
		height: 560px;
		overflow: auto;
	}
	mat-form-field{
		width: 100%;
	}
	form{
		border: 1px solid black;
		padding: 15px;
	}
</style>