.fill{
	flex: 1 1 auto;
}
.example-container{

}
.menu_tooll{
	height: 100px;
	background-color: white;
	color: black;
	font-size: 40px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Shrikhand', cursive;
	position: fixed;
	top: 0;
	z-index: 7;
}
.content{
	margin-top: 100px;
	min-height: 100vh;
}
.navigation{
	width: 100%;
}
.links{
	text-align: center;
}
.theLink{
	width: 100%;
	display: block;
	padding: 10px;
}
.theLink a{
	font-size: 40px;
	text-decoration: none;
	color: black; 
	font-family: 'Exo', sans-serif;
}
.theLink a:hover{
	color:#F44336;
}