<section class="cafe-container">
	<div class="slider">
		Xanadu Café
		<span class="est">Est. 2016</span>
	</div>
	<div class="content">
		<div class="section1 animated slideInLeft">
			<div>
				<h2>How to reach?</h2>
				Our café is located on the foothills of Solan. It's just a fair 90 kms from Chandigarh, and just 40 kms from Shimla. Buses are easily  available from both the cities. From Solan, you can hire a taxi directly to Ashwani Khadd at a mere cost of INR 400.
				<br>
				If you are an "off-road" kind of a person, its even better an experience. You need to take a diversion from Salogra, which is about 8 kms from Solan, on the way to Shimla. From Salogra, Ashwani Khadd is around 7 kms.
				<br>
				You get to drive alongside the brook, crossing it for like 5 times, before you reach the café location. Not into off-roads? Don't worry! We got you covered! You can just park your vehicle, and take a small refreshing 10 minutes walk from the parking location to reach the café.
				<br>
				Also, we, the hosts, are always available to assist you at any point you get stuck.<br>

			</div>
			<img src="https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/map.png" class="map">
		</div>
		<div class="section1 animated slideInRight" style="background-color: #4E342E; color: white;">
			<img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/22196115_2071763586443345_6333847505886618150_n.jpg?oh=1287f81d14c2a72873643ce5fc6ea433&oe=5B0A0AF3" class="theimg">
			<div style="text-align: right;">
				<h2 style="color: white;">Live Music</h2>
				Our café is not just a café. Its our home, and we welcome you as our guests. We see music as a vital element of life, hence, we enjoy living, with music!
				<br>
				Every single thing is beautifully hand-crafted, and almost every other night, there is a live music scene. Hear the amazing artists sing mesmerizing melodies, or sing along with them, do what your heart wants! After all, Xanadu ExPdi is all about living free!
				<br>
			</div>
		</div>
		<div class="section1 animated slideInLeft">
			<div>
				<h2>Café Activities</h2>
				Play Cricket, Football, Volleyball, Badminton, or Cards, Board Games, Chess, Darts with your gang, or just chat with them. Alternatively, you could just read books, fly a kite, or just sit by the rivulet, its just the best place to come up with artistic ideas!
				<br>
				We offer short treks like The Jungle Trek, The Waterfall Trek, The Ridge Trek,as well.
				<br>
			</div>
			<img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/14390757_1856898114596561_5237171351077130774_n.jpg?oh=f55bddcbf02acad8ddce56679ebdf9be&oe=5B0B7339" class="theimg">
		</div>
		<div class="section1 animated slideInRight" style="background-color: #4E342E; color: white;">
			<img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/27971811_1843545392346537_14664818007147798_n.jpg?oh=ff9f0d0d668a3199852d9148cd6f72f4&oe=5B036844" class="theimg">
			<div style="text-align: right;">
				<h2 style="color: white;">Stay at the Café</h2>
				You can enjoy exploring the nature, every second of your stay, without stressing about the food and the night stay. While you enjoy your time, our chefs will be busy preparing amazing delicacies for you. As we all know, the best stories are told over bonfires, we'll prepare a bonfire session for you and your companions before you push off to your tents for a nice night's sleep. It's IMPORTANT! For you might even get to bird watch, if you get up on time, and we don't want you to miss that.
				<br>
				We'll make sure you have your best time during this trip. We do not want a satisfied customer, but a new member in the Xanadu Family!
				<br>
			</div>
		</div>
	</div>
	<br>
</section>