.container{
	width: 100%;
}
.main{
	width: 100%;
	min-height: 100vh;
}
.main-title{
	background-color: #4e342e;
	color: white;
	padding: 20px;
}
.wall-tab{
	width: 50%;
	padding: 20px;
	text-align: center;
}
.wall-tab h3{
	background-color: white;
	margin: 0;
	padding: 20px;
}
.wall-tab mat-tab-group{

	background-color: white;
}

.tab-container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tab-w-container{
	width: 100%;
}
.event-in-line{
	width: 100%;
	padding: 20px;
	background-color: white;
	margin: 20px 0;
}
.test{
	width: 300px;
	height: 300px;
	background-color: green;
}

.tab-content{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.tab-content img{
	width: 500px;
	max-width: 100%;
	height: 500px;
}

.feacher-tab{
	height: 500px;
	border-radius: 500px;
}

.feacher-tab img{
	
	border-radius: 500px;
}


/*.f-event{
	width: 100%;
	height: auto;
	background-color: rgba(255,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.e1{
	width: 700px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
}
.e-slider{
	height: 100%;
	width: 100%;
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-event, .p-event{
	width: 100%;
	height: auto;
	background-color: rgba(0,255,0,0.2);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px;

}
.e-slider span img{
	max-width: 100%;
	max-height: 100%;
}

.p-event{
	background-color: rgba(0,0,255,0.2);
}


.carousel-inner{
	height: 100%;
	width: 100%;
}
.myItem img{
	margin-left: auto;
	margin-right: auto;
	max-height: 368px;
}
.mySlider{
	height: 700px;

}











.heading{
	text-align: center;
	font-size: 30px;
	font-family: 'Exo', sans-serif;

}
.events-container{
	min-height: 100vh;
	padding: 10px;
	background-color: white;
	background: url("https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/brickwall.png");
}
.events{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.theEvent{
	height: 300px;
	display: inline-block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.currentEvent{
	border: 10px solid rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
}
.nail img{
	width: 50px;
	height: 50px;
	margin-top: -20px;
}
.currentEvent1{
	background: url("https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/frame.jpg");	
	background-size: 640px 400px;
	background-repeat: no-repeat;
	width: 640px;
	height: 400px;
}
.eventImg img{
	width: 500px;
	height: 300px;
	margin-top: 50px;
	margin-left: 58px;
}
.otherEvent{
	display: flex;
	justify-content: center;
	
}


.otherEvent img{
	width: auto;
	height: 100%;
	max-width: 100%;
	transition: height 0.5s;
}



.wall{
	font-family: 'Permanent Marker', cursive;
}




.carousel-control{
	background: unset;
}
.item img{
	box-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 768px) {
	.item img{
		max-width: 100%;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
	}
	.carousel-caption h3{
		font-size: 14px;
	}
	.e1{
		width: 100%;
		height: 150px;
	}
	.e-slider span img{
		max-height: 300px;
	}
	.myItem img{
		max-height: 150px;
	}
}*/