<section class="container">
	<section class="main">
		<section class="event-wall">
			<h2 align="center" class="main-title">EVENT WALL</h2>
			<section class="tab-container">
				<div class="carnival wall-tab">
					<h3>Xanadu Carnival</h3>
					<mat-tab-group>
					  <mat-tab *ngFor="let event of carnival">
					  	<ng-template mat-tab-label>
					  		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
						      <b>{{event.event_name}}</b>
						      <i style="font-size: 12px">({{event.event_date | date}})</i>
					  		</div>
					    </ng-template>
					    <section class="tab-content feacher-tab">
						  	<img src="http://xanaduapi.vishalpandey.xyz/uploads/{{event.id}}.jpg">
						  	<span><b>Venue : </b>{{event.event_venue}}</span>
						  	<span><b>Details : </b>{{event.event_detail}}</span>
					    </section>
					  </mat-tab>
					</mat-tab-group>
				</div>
				<div class="festival wall-tab">
					<h3>Camper's Festival</h3>
					<mat-tab-group>
					  <mat-tab *ngFor="let event of camper">
					  	<ng-template mat-tab-label>
					  		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
						      <b>{{event.event_name}}</b>
						      <i style="font-size: 12px">({{event.event_date | date}})</i>
					  		</div>
					    </ng-template>
					    <section class="tab-content feacher-tab">
						  	<img src="http://xanaduapi.vishalpandey.xyz/uploads/{{event.id}}.jpg">
						  	<span><b>Venue : </b>{{event.event_venue}}</span>
						  	<span><b>Details : </b>{{event.event_detail}}</span>
					    </section>
					  </mat-tab>
					</mat-tab-group>
				</div>
			</section>
		</section>
		<section class="event-in-line">
			<h2 align="center" class="main-title">EVENTS IN LINE</h2>
			<section class="tab-w-container">
				<mat-tab-group>
				  <mat-tab *ngFor="let event of events">
				  	<ng-template mat-tab-label>
				  		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
					      <b>{{event.event_name}}</b>
					      <i style="font-size: 12px">({{event.event_date | date}})</i>
				  		</div>
				    </ng-template>
				    <section class="tab-content">
					  	<img src="http://xanaduapi.vishalpandey.xyz/uploads/{{event.id}}.jpg">
					  	<span><b>Venue : </b>{{event.event_venue}}</span>
					  	<span><b>Details : </b>{{event.event_detail}}</span>
				    </section>
				  </mat-tab>
				</mat-tab-group>
			</section>
		</section>
		<section class="event-in-line">
			<h2 align="center" class="main-title">PAST EVENTS</h2>
			<section class="tab-w-container">
				<mat-tab-group>
				  <mat-tab *ngFor="let event of pastEvents">
				  	<ng-template mat-tab-label>
				  		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
					      <b>{{event.event_name}}</b>
					      <i style="font-size: 12px">({{event.event_date | date}})</i>
				  		</div>
				    </ng-template>
				    <section class="tab-content">
					  	<img src="http://xanaduapi.vishalpandey.xyz/uploads/{{event.id}}.jpg">
					  	<span><b>Venue : </b>{{event.event_venue}}</span>
					  	<span><b>Details : </b>{{event.event_detail}}</span>
				    </section>
				  </mat-tab>
				</mat-tab-group>
			</section>
		</section>
	</section>
</section>

<section class="events-container" *ngIf="previous">
	<h2 class="heading wall">EVENTS WALL</h2>
	<section class="f-event">
		<h3 class="heading" style="margin-bottom: 0;">Xanadu Carnival</h3>
		<div class="e1">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
  

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <a routerLink="/event-details/Xanadu Carnival"><img src="https://raw.githubusercontent.com/vishal-pandey/xanadu-content/master/A%20New%20Design%20(6).jpg" alt="Xanadu Carnival"></a>
			      <div class="carousel-caption">
			        <h3>Season 2</h3>
			      </div>
			    </div>
			    <div class="item myItem">
			      <img src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-9/17903582_1976872892599082_4248388216298266869_n.jpg?oh=0c123df4f6b19bc4b0024380c3a0e4ae&oe=5B34F15A">
			      
			    </div>
			  </div>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>

		<h3 class="heading" style="margin-bottom: 0;">Camper's Festival</h3>
		<div class="e1">
			<div id="myCarousel" class="carousel slide mySlider" data-ride="carousel">
  

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    
			    <div class="item active myItem">
			      <img src="https://scontent.fdel1-3.fna.fbcdn.net/v/t1.0-9/21740521_2060946147525089_6949993427501053698_n.jpg?oh=2165477f5ebbd8cb3c6762875fb839b6&oe=5AFFEBA6">
			    </div>
			  </div>

			  <!-- Left and right controls -->
			  
			</div>
		</div>
	</section>

	<h2 class="heading">Upcoming Events</h2>
	<section class="u-event">
		<div class="events">
		</div>
	</section>
	<h2 class="heading">Past Events</h2>
	<section class="p-event">
		<div class="events">
			<div class="theEvent otherEvent">
				<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/28377829_1847998758567867_8075176712013364421_n.jpg?oh=a7508b9cb39eb202e2e32930b011f184&oe=5B4E2534">
			</div>
			
		</div>
	</section>
</section>